@font-face {
    font-family: "Sf Pro";
    src: url("./SF-Pro-Text-Regular.otf");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Sf Pro";
    src: url("./SF-Pro-Text-Bold.otf");
    font: weight 700px;;
    font-style: normal;
  }
  @font-face {
    font-family: "Sf Pro";
    src: url("./SF-Pro-Text-Semibold.otf");
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: "Open Sans";
    src: url("./OpenSans-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: "Open Sans";
    src: url("./OpenSans-Regular.ttf");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Open Sans";
    src: url("./OpenSans-Bold.ttf");
    font-weight: 700;
    font-style: normal;
  }
