<script setup lang="ts">
import { ref } from 'vue'
import magnifier from '@/assets/svg/magnifier.svg'
import { onClickOutside } from '@vueuse/core'

const isActive = ref(false)
const target = ref(null)

onClickOutside(target, () => {
    isActive.value = false
})



</script>

<template>
    <div class="relative z-10">
        <input @click="isActive = !isActive"
            class="cursor-pointer w-100 h-9 outline-none  pl-6 rounded-6xl bg-light-gray placeholder-bl border-2 transition .5s ease-in hover:border-blue1  "
            type="text" placeholder="События">
        <img class="cursor-pointer absolute right-4 top-[10px]" :src="magnifier">
        <div ref="target" v-show="isActive"
            class="bg-white absolute z-10 right-0.5 top-10 pl-5 pt-4 pr-4 w-100 h-49 rounded-3xl shadow-profile font-open font-semibold text-sm">
            <ul class="font-open text-lg3">
                <a class=" font-normal text-grll" href="#">
                    <li>
                        <p>Популярные сейчас</p>
                    </li>
                </a>

                <a href="#">
                    <li>
                        <p>XX Фестиваль «Хибла Герзмава приглашает…»</p>
                    </li>
                </a>
                <a href="#">
                    <li>
                        <p>Кровавая свадьба</p>
                    </li>
                </a>
                <a href="#">
                    <li>
                        <p>Музей Банка Абхазии</p>
                    </li>
                </a>
            </ul>
        </div>
    </div>


</template>

<!-- class="cursor-pointer w-102 h-9 outline-none  pl-6 rounded-6xl bg-light-gray placeholder-bl border-2 transition .5s ease-in hover:border-blue1  "
type="text" placeholder="События">
<img class="cursor-pointer absolute right-4 top-[10px]" :src="magnifier"> -->