<script setup lang="ts">

import TCard from './TCard.vue';

import qwe from '@/assets/svg/qwe.jpg'
import like from '@/assets/svg/like.svg'
import asd from '@/assets/svg/asd.jpg'
import zxc from '@/assets/svg/zxc.jpg'

const CardsData = [
  {
    title: 'Все мои сыновья',
    img: qwe,
    date: '3 сентября',
    location: 'РУСДРАМ'
  },
  {
    title: 'Примадонны',
    img: zxc,
    date: '9 сентября',
    location: 'Пицундский храмовой…'
  },
  {
    title: 'Рассказ мула старого Хабуга',
    img: asd,
    date: '3 сентября',
    location: 'РУСДРАМ'
  }
]

</script>

<template>

    <div class="relative w-full flex flex-row items-center gap-x-10 justify-start">
        <TCard v-for="card in CardsData" :cardData="card"></TCard>
    </div>

</template>