<script setup lang="ts">
import { ref } from 'vue'
import location from '@/assets/svg/location.svg'
import locationInput from '@/assets/svg/locationinput.svg'
import { onClickOutside } from '@vueuse/core'

const modalLocation = ref(null)
const isActive = ref(false)

onClickOutside(modalLocation, () => {
    isActive.value = false
})

</script>


<template>
    <div class="relative z-10">
        <img @click="isActive = !isActive" class="cursor-pointer" :src="location">
        <div ref="modalLocation" v-show="isActive"
            class="bg-white absolute z-10 pl-1 font-normal right-0.5 top-12  pt-4 pr-4 w-44 h-78 rounded-3xl shadow-profile font normal">
            <ul class="font-open text-lg3">
                <a>
                    <li>
                        <img class="absolute pt-2.5 pl-3" :src="locationInput">
                        <input
                            class="w-40 h-7 font-open pl-7 rounded-6xl text-lg1 bg-light-gray placeholder-black outline-blue1 outline-1  hover:outline focus-visible:outline  transition .5s ease-in  "
                            type="text" placeholder="Сухум" />
                    </li>
                </a>
                <ul class="pl-3.5 font-open text-lg3 ">
                    <a href="#">
                        <li>
                            <p>Гагра</p>
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <p>Пицунда</p>
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <p>Гудаута</p>
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <p>Новый Афон</p>
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <p>Сухум</p>
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <p>Очамчыра</p>
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <p>Ткуарчал</p>
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <p>Гал</p>
                        </li>
                    </a>
                </ul>
            </ul>
        </div>
    </div>


</template>