<script setup lang="ts">
import { ref } from 'vue'
import profile from '@/assets/svg/profile.svg'
import { onClickOutside } from '@vueuse/core'

const modalProfile = ref(null)

onClickOutside(modalProfile, () => {
    isActive.value = false
})

const isActive = ref(false)
</script>

<template>
    <div class="relative z-10">
        <img @click="isActive = !isActive" class="cursor-pointer" :src="profile">
        <div ref="modalProfile" v-show="isActive"
            class="bg-white absolute z-10 right-0.5 top-16 pl-5 pt-4 pr-4 w-44 h-49 rounded-3xl shadow-profile font normal">
            <ul class="font-open text-lg3">
                <a class="text-lg2 font-semibold" href="#">
                    <li>
                        <p>Lil name</p>
                    </li>
                </a>
                <hr class="border-blue1 border-1 mt-2">
                <a href="#">
                    <li>
                        <p>Мои покупки</p>
                    </li>
                </a>
                <a href="#">
                    <li>
                        <p>Мои подписки</p>
                    </li>
                </a>
                <a href="#">
                    <li>
                        <p>Избранное</p>
                    </li>
                </a>
                <a href="#">
                    <li>
                        <p>Выход</p>
                    </li>
                </a>

            </ul>
        </div>
    </div>


</template>