<script setup lang="ts">
import like from '@/assets/svg/like.svg'
import qwe from '@/assets/svg/qwe.jpg'
import note from '@/assets/svg/note.svg'
import asd from '@/assets/svg/asd.jpg'
import zxc from '@/assets/svg/zxc.jpg'

import iconLike from '../components/icons/IconLike.vue'

const props = defineProps({
    cardData: Object
})

const data = props.cardData

</script>

<template>
    <div class="rounded-5xl shadow-card w-102 relative">
        <div class="flex justify-between absolute mt-4 w-93 h-5 mx-4 ">
            <div class="w-22 h-5  rounded-4xl bg-blu flex items-center justify-center ">
                <p class=" text-12 font-sans text-white ">Премьера</p>
            </div>
            <iconLike></iconLike>
        </div>
        <img class="rounded-5xl w-102 h-59" :src="data.img">
        <div class="h-24 w-102">
            <div class="mx-auto w-92 mt-4 relative ">
                <div class="flex justify-between">
                    <p class="cursor-pointer font-sans text-2.5xl font-bold">{{data.title}}</p>
                    <img :src="note">
                </div>
                <div class="mt-2 font-open text-grl flex items-end gap-x-2">
                    <p class="text-lg2 text-bottom font-semibold text-center font-open"> {{data.date}}</p>
                    <p class="text-gr ">.</p>
                    <p class="text-sm text-center">{{data.location}}</p>
                </div>
            </div>
        </div>
    </div>
</template>