<script setup lang="ts">
import{ref} from 'vue'

import like from "@/assets/svg/like.svg"
import likeRed from "@/assets/svg/like-red.svg"

const isActive = ref(false)
</script>

<template>
<img @click="isActive = !isActive" class="cursor-pointer" :src="isActive ? likeRed : like ">
</template>
