<template>
  <div class="w-full h-full bg-white">
    <div class=" mx-auto relative w-320 pt-6">
      <div class="flex justify-between items-center ">
        <img class=" -ml-4" :src="logo">
        
   <event></event>
   
        <div class="w-25 h-12  flex justify-between items-center">
          <div>
           <location></location>
          </div>
          <div class="rounded-5xl bg-light-gray">
            <profile class="relative z-2"></profile> 
          </div>
        </div>
      </div>
      
      <div class="flex items-center gap-x-10 mt-11 font-sans text-xl2 font-normal">
        <div v-for="item in data" class="flex flex-row gap-x-2 items-center relative z-0">
          <img :src="item.img">
          <p class="cursor-pointer relative z-0">{{ item.title }}</p>
        </div>
      </div>
      <div class="flex justify-start mt-17 pb-10 ">
        <div class="rounded-full w-36 h-36   bg-light-gray"></div>
        <div class="ml-10 flex-col flex place-content-evenly">
          <div class="font-sans text-5xl font-semibold">Lil name</div>
          <div class=" cursor-pointer text-blu">Редактировать профиль</div>
        </div>
      </div>
      <div class="absolute top-[315px] flex flex-row gap-x-8 mt-17 font-sans text-xl2">

        <label class="">
          <input type="radio" class="hidden" v-model="current" :value="Favourites">
          <div  class="cursor-pointer ">Мои покупки</div>
        </label>
        <label class="">
          <input type="radio" class="hidden " v-model="current" :value="MyBuys">
          <div class="cursor-pointer  ">Мои подписки</div>
        </label>
        <label class="">
          <input type="radio" class="hidden" v-model="current" :value="MySubscriptions">
          <div class="cursor-pointer  ">Избранное</div>
        </label>
      </div>



      <hr class=" bg-gray-200 border-2 mt-2">
      <div class="flex flex-row gap-x-10 mt-10">



        <KeepAlive>
          <component class="relative" :is="current"></component>
        </KeepAlive>





      </div>
    </div>
    <div id="footer" class=" border-b-5 mt-66 relative pb-4 bg-wh">
      <div class="mx-auto w-320 flex justify-between ">
        <div class="">
          <img class="" :src="logofooter">
          <div class="mt-5 text-grl font-open font-sm grid grid-cols-2 grid-rows-3 gap-y-3 w-184">
            <span class="text-left">Контакты</span>
            <span class="text-left">Справка</span>
            <span class="text-left">Помощь</span>
            <span class="text-left">Возврат билетов</span>
            <span class="text-left">Пользовательское соглашение</span>
          </div>

        </div>
        <div class="w-135 ">
          <p class="font-sans text-xl3 font-semibold">Подпишитесь на анонсы событий</p>
          <div class="mt-7 flex justify-between">
            <input class="w-102 h-9 outline-none pl-6 rounded-6xl bg-light-gray placeholder-whi hover:placeholder-grl hover:border-2 transition .5s ease-in hover:border-blue1  " type="text"
               placeholder ="Электронная почта" />
            <button class="bg-blu text-white w-24 h-8 rounded-full">Далее</button>

          </div>
          <div class="flex flex-row gap-x-3 mt-7 ">
            <img class="cursor-pointer" :src="telegram">
            <img class="cursor-pointer" :src="twitter">
            <img class="cursor-pointer" :src="youtube">
            <img class="cursor-pointer" :src="link">
          </div>
        </div>

      </div>
      <div  class="w-320 mx-auto relative ">
        <div class=" border-2 divide-bl mt-10 "></div>
        <div class="text-blu flex justify-between mt-5">
          <div class="flex flex-row gap-8">
            <p>7 983 378 38 37
            </p>
            <p>7 983 378 38 37</p>
          </div>
          <div class="flex flex-row gap-12 text-sml font-sans">
            <p class="text-redl">А-мобайл</p>
            <p>Разработка ASAR Studio</p>
          </div>
        </div>
       
      </div>

     

    </div>
    
  </div>
 
</template>
<script lang="ts" setup>

import { ref } from 'vue'

import logo from '@/assets/svg/logo.svg'

import profile from '@/assets/svg/profile.svg'
import magnifier from '@/assets/svg/magnifier.svg'
import palette from '@/assets/svg/palette.svg'
import mask from '@/assets/svg/mask.svg'
import note from '@/assets/svg/note.svg'
import camera from '@/assets/svg/camera.svg'
import sport from '@/assets/svg/sport.svg'
import circle_more from '@/assets/svg/circle-more.svg'
import qwe from '@/assets/svg/qwe.jpg'
import like from '@/assets/svg/like.svg'
import asd from '@/assets/svg/asd.jpg'
import zxc from '@/assets/svg/zxc.jpg'
import logofooter from '@/assets/svg/logofooter.svg'
import telegram from '@/assets/svg/telegram.svg'
import youtube from '@/assets/svg/youtube.svg'
import twitter from '@/assets/svg/twitter.svg'
import link from '@/assets/svg/link.svg'
import TCard from './components/TCard.vue'
import event from './components/event.vue'
import location from './components/location.vue'
import Profile from './components/profile.vue'
import Favourites from './components/Favourites.vue'
import MyBuys from './components/MyBuys.vue'
import MySubscriptions from './components/MySubscriptions.vue'

const current = ref(Favourites)


const data = [
  {
    title: 'Выставки',
    img: palette
  },
  {
    title: 'Театр',
    img: mask
  },
  {
    title: 'Концерты',
    img: note
  },
  {
    title: 'Кино',
    img: camera
  },
  {
    title: 'Спорт',
    img: sport
  },
  {
    title: 'Выставки',
    img: palette
  },
  {
    title: 'Театр',
    img: mask
  },
  {
    title: 'Концерты',
    img: note
  },
  {
    title: 'Ещё',
    img: circle_more
  }
]

const CardsData = [
  {
    title: 'Все мои сыновья',
    img: qwe,
    date: '3 сентября',
    location: 'РУСДРАМ'
  },
  {
    title: 'Примадонны',
    img: zxc,
    date: '9 сентября',
    location: 'Пицундский храмовой…'
  },
  {
    title: 'Рассказ мула старого Хабуга',
    img: asd,
    date: '3 сентября',
    location: 'РУСДРАМ'
  }
]
</script>

<style scoped>
label input:checked + div {
  border-style: solid;
  border-width: 0px 0px 4px 0px;
  border-color: blue;
  transition: border-color .5s ease-in;
  padding-bottom: 2px;
  

}

#footer {
  background: #F2F3F5;
  padding-top: 60px;
  width: 100%;
}


#footer::before {
  background: white;
  border-radius: 50%;
  box-shadow:  0 1799px 0 0 white,
    0 1717px 0 0 white, 0 1635px 0 0 white, 0 1553px 0 0 white,
    0 1471px 0 0 white, 0 1389px 0 0 white, 0 1307px 0 0 white,
    0 1225px 0 0 white, 0 1143px 0 0 white,  0 1061px 0 0 white,
    0 979px 0 0 white, 0 897px 0 0 white, 0 815px 0 0 white,
    0 733px 0 0 white, 0 651px 0 0 white, 0 569px 0 0 white,
    0 487px 0 0 white, 0 405px 0 0 white, 0 323px 0 0 white,
    0 241px 0 0 white, 0 159px 0 0 white,
    0 77px 0 0 white;
  content: "";
  display: block;
  height: 60px;
  left: 22px;
  transform: rotate(-90deg);
  position: absolute;
  top: -32px;
  width: 60px;
}


</style>